<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>Registration Form</title>
</head>
<body>
    <div class="main-box">
        <div class="heading">
            <h3><strong>Registration Form</strong></h3>  
        </div>

        <form action="/register" method="POST">

            <div class="name">
                <label for="name"> <strong>Name</strong> </label> <br>
                <input type="text" id="name" name="name" placeholder="Name" required>
                
            </div>

            <div class="email">
                <label for="email"> <strong>Email</strong> </label> <br>
                <input type="email" name="email" id="email" placeholder="Email" required>
                
            </div>

            <div class="password">
                <label for="password"> <strong>Password</strong> </label> <br>
                <input type="password" name="password" id="password" placeholder="Password" required>
                
            </div>

            <div class="submit-button">
                <input type="submit" name="submit" id="submit" value="Submit">
            </div>
            

        </form>

    </div>
</body>
</html>